@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%;
  text-rendering: optimizeLegibility;
  background: rgb(248, 249, 250);
}

:root {
  --gray-1: #1a1a1a;
  --gray-2: #1c1c1c;
  --gray-3: #232323;
  --gray-4: #282828;
  --gray-6: #343434;
}

body *::selection {
  background: #dfdad9;
}

.shimmer-parent {
  &:hover {
    --shimmer-hover-transform: skewX(-45deg) translateX(600%);
    --shimmer-after-transform: skewX(45deg) translateX(-150%);
  }
}

.shimmer {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.36);
  position: absolute;
  width: 25%;
  height: 100%;
  transition: 200ms ease-out;
  transform: var(--shimmer-hover-transform, skewX(-45deg) translateX(-300%));
  &::after {
    display: block;
    content: '';
    position: absolute;
    width: 400%;
    height: 100%;
    transform: var(--shimmer-after-transform, skewX(25deg) translateX(75%));
    transition: 200ms ease-out;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.36);
    border-radius: 50%;
  }
}

h1 {
  overflow: hidden;
}

.letter {
  display: inline-block;
  animation-name: animate-in;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-delay: calc(0.03s * var(--index));
  animation-duration: 1s;
  animation-fill-mode: backwards;
}

@keyframes animate-in {
  0% {
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  box-shadow:
    0px 0px 0px 1px rgba(9, 9, 11, 0.08),
    0px 1px 2px -1px rgba(9, 9, 11, 0.08),
    0px 2px 4px 0px rgba(9, 9, 11, 0.04);
}

.clip-path-container {
  position: absolute;
  z-index: 10;
  width: 100%;
  overflow: hidden;
  transition: clip-path 0.25s ease;
  clip-path: inset(0px 78% 55% 0% round 17px);
}
